<h2>Criar conta</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <br>Nome</br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
          <br>Email</br>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
          <br>Senha</br>
        <% if @minimum_password_length %>
        <em>(Mínimo de <%= @minimum_password_length %> caracteres )</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
          <br>Confirmar senha</br>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <br><%= f.submit "Criar conta" %></br>
      </div>

      <br><%= render "devise/shared/links" %></br>
    <% end %>
