<div class="schedule">
<h4>Horários disponíveis</h4>
    <table class="center">
      <thead>
        <tr>
          <th>Hora</th>
          <th>Dia</th>
          <th>Mês</th>
          <th>Ano</th>
          <th>Serviço</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @schedules.order(:day, :time).each do |schedule| %>
          <tr>
            <td><%= schedule.time %></td>
            <td><%= schedule.day %></td>
            <td><%= schedule.month %></td>
            <td><%= schedule.year %></td>
            <td><%= schedule.service%></td>
            <td><%= link_to 'Detalhes', schedule %></td>
            <td><%= link_to 'Marcar Horário', new_myschedule_path(time: schedule.time, day: schedule.day, month: schedule.month, year: schedule.year, schedule_id: schedule.id, service: schedule.service)  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
