<div class="show">
  <p>
    <strong>Hora:</strong>
    <%= @schedule.time %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= @schedule.day %>
  </p>

  <p>
    <strong>Mês:</strong>
    <%= @schedule.month %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= @schedule.year %>
  </p>

  <p>
    <strong>Serviço:</strong>
    <%= @schedule.service %>
  </p>

  <%= link_to 'Voltar', schedules_path %>
</div>
