<h2>Entrar</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
          <br>Email</br>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
          <br>Senha</br>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <br><%= f.check_box :remember_me %>
          Manter-me conectado</br>
        </div>
      <% end -%>

      <div class="actions">
        <br><%= f.submit "Entrar" %></br>
      </div>


      <br><%= render "devise/shared/links" %></br>
    <% end %>
