/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/


/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/


/*CSS geral para todas as páginas*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

/*formata as tabelas*/
table {
 width: 60%;
}
th {
 background-color:#B22222;;
 color: white;
}
table , th, td{
 border-collapse: collapse;
 border-spacing: 0;
 border: 1px solid black;
 text-align: center;

}
table.center {
 margin-left:auto;
 margin-right:auto;
}

/*corpo de todo o site*/
body {
 font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
 background-color: #ffffff;
}

/*parágrafos */
p {
 line-height: 20px;
 margin-bottom: 20px;
}

/*títulos*/
h1 {
 font-family: lovely_homeregular;
 font-weight: bold;
 font-size: 32px;
 margin-bottom: 20px;
 color: #B22222;
}
h2 {
 font-weight: 300;
 color: #B22222;
 font-size: 55px;
 text-align: center;
 margin-bottom: 20px;
 margin-top: 20px;
}
h3 {
 font-size: 30px;
 color: #444;
 font-weight: bold;
 text-transform: uppercase;
 text-align: center;
 margin-bottom: 20px;
}
h4 {
 text-align: center;
 font-size: 20px;
 color: #444;
 font-weight: bold;
 text-transform: uppercase;
 margin-bottom: 20px;
 margin-top: 10px;
}
h5 {
 font-size: 15px;
 color: #444;
 font-weight: bold;
 text-transform: uppercase;
}

/*outros*/
a {
 text-decoration: none;
 color: #444;
}
a:hover {
 color: #02b8dd;
}
strong {
 font-weight: bold;
}
small {
 font-size: 13px;
 color: #777;
 font-style: italic;
}
.clear {
 clear: both;
}
.wrapper {
 margin: 0 auto;
 padding: 0 10px;
 width: 940px;
}


/*menu */
header {
 height: 120px;
 background-color: #ffe6e6;
 border-width: medium;
 border-style: double;
 border-color: #B22222;
}
header h1 {
 float: left;
 margin-top: 32px;
}
header h1 .color {
 color: #02b8dd;
}
header nav {
 float: right;
}
header nav ul li {
 float: left;
 display: inline-block;
 margin-top: 50px;
 font-size: 12px;
}
header nav ul li a {
 color: #444;
 text-transform: uppercase;
 font-weight: bold;
 display: block;
 margin-right: 20px;
}

/*Formatação dos controllers*/

form {
  position: fixed;
  top: 32%;
  left: 41%;
}
/*formata todas as mensagens de erro, alertas, e info*/
.custom-alert {
 text-align: center;
 color: #000099;
}
/*formata pagina home*/
.welcome {
 background: url(images/fundo.jpeg);
 background-size: cover;
 background-color: #ffffff;;
}
/*formata pagina dos horários disponíveis*/
.schedule {
 background-color: #ffffff;
}
/*formata página dos hoŕaios marcados*/
.myschedule{
 background-color: #ffffff;
}
/*formata pagina de detalhes*/
.show {
  position: fixed;
  top: 30%;
  left: 41%;
}
