<!DOCTYPE html>

<body class="<%= controller.controller_name%>">

<html>
  <head>
    <title>BeautySchedule</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
      <header>
          <div class="wrapper">
              <h1>BeautySchedule<span class="color"></span></h1>
              <nav>
                  <ul>
                      <% if current_user %>
                          <li><%= link_to 'Horários disponíveis', schedules_path %></li>
                          <li><%= link_to 'Meus horários', myschedules_path %></li>
                          <li><%= link_to('Sair', destroy_user_session_path, method: :delete) %> </li>
                      <% else %>
                          <li><a href="/users/sign_in">Entrar</a></li>
                          <li><a href="/users/sign_up">Criar conta</a></li>
                      <% end %>
                  </ul>
              </nav>
          </div>
      </header>

      <%- flash.each do |name, msg| -%>
        <div class="custom-alert">
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
      <%- end -%>
    <%= yield %>

  </body>
</html>
