<%= form_with(model: myschedule, local: true) do |form| %>
  <% if myschedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(myschedule.errors.count, "error") %> prohibited this myschedule from being saved:</h2>

      <ul>
      <% myschedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br>Hora</br>
    <%= form.text_field :time, :value => params[:time], :readonly => true %>
  </div>

  <div class="field">
    <br>Dia</br>
    <%= form.text_field :day, :value => params[:day], :readonly => true %>
  </div>


  <div class="field">
    <br>Mês</br>
    <%= form.text_field :month, :value => params[:month], :readonly => true %>
  </div>

  <div class="field">
    <br>Ano</br>
    <%= form.text_field :year, :value => params[:year], :readonly => true %>
  </div>

  <div class="field">
    <br>Serviço</br>
    <%= form.text_field :service, :value => params[:service], :readonly => true %>
  </div>

  <div class="actions">
    <br><%= form.submit "Marcar horário" %></br>
  </div>

<% end %>
