<div class="myschedule">
<h4>Horários marcados</h4>
    <table class="center">
      <thead>
        <tr>
          <th>Hora</th>
          <th>Dia</th>
          <th>Mês</th>
          <th>Ano</th>
          <th>Serviço</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @myschedules.order(:day, :time).each do |myschedule| %>
          <tr>
            <td><%= myschedule.time %></td>
            <td><%= myschedule.day %></td>
            <td><%= myschedule.month %></td>
            <td><%= myschedule.year %></td>
            <td><%= myschedule.service %></td>
            <td><%= link_to ' Detalhes ', myschedule %></td>
            <td><%= link_to ' Desmarcar ', myschedule, method: :delete, data: { confirm: 'Você tem certeza que deseja desmarcar?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
