<div class="show">
  <p>
    <strong>Hora:</strong>
    <%= @myschedule.time %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= @myschedule.day %>
  </p>

  <p>
    <strong>Mês:</strong>
    <%= @myschedule.month %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= @myschedule.year %>
  </p>

  <p>
    <strong>Serviço:</strong>
    <%= @myschedule.service %>
  </p>


  <%= link_to 'Voltar', myschedules_path %>
</div>
